#sticky-top{
  top: 0%;
  position: sticky;
}
#button-holder{
    background-color: azure;
    height: auto;
    padding: 2%;
}
button {
  background-color: #21835f;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:disabled{
  background-color: #b4b7b6;
  color: rgb(69, 66, 66);
  cursor: initial ;
}
.lemma, .definition{
  /*display: block;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.definition{
    flex-basis: 80%;
    padding-top: 10px;
    padding-left: 10px;
    color: rgb(1, 39, 24);
}
.lemma{
  font-size: large;
  color: rgb(142, 163, 163);
  padding-left: 10lvh;
  background-color: #103f2e;
}
 img {
  max-width: 100%;
  align-self: center;
} 

#entries-container{
  background-color: #678077;
  padding: 5px;
}

#img-link{
  max-width: 10%;
  align-self: center;
}
.entry-container{
  display: flex;
  /* border: solid 5px;
  border-color:  whitesmoke;
  border-radius: 5px; */
  justify-content: space-evenly;
}

body{
  background-color: rgb(38, 57, 38);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2{
  color: beige;
}
#credits{
  position: fixed;
  bottom:10px;
  right: 10px;
  background-color: #012317;
  color: #b4b7b6;
  padding: 5px;
}